<div class="nv-nav darken-1">
	<ul class="center hide-on-med-and-down">
		<li class="position-relative">
			{{#link-to 'auth.home'}}
				<div class="with-background logo" style="{{background-image '/img/logo-nv.svg'}}"></div>
			{{/link-to}}
		</li>
		<div class="divider"></div>
		<li>
			{{#link-to 'auth.admin.sessions'}}
				<br>
				<i class="material-icons">date_range</i>
				<br>
				Sesiones
				<br>
				<br>
			{{/link-to}}
		</li>
		<div class="divider"></div>
		{{#if session.currentUser.isAdmin}}
			<li>
				{{#link-to 'auth.admin.users'}}
					<br>
					<i class="material-icons">person</i>
					<br>
					Usuarios
					<br>
					<br>
				{{/link-to}}
			</li>
		{{/if}}
		<div class="divider"></div>
			<li>
				<a {{action 'signOut'}}>
					<br>
					<i class="material-icons">exit_to_app</i>
					<br>
					Sign Out
					<br>
					<br>
				</a>
			</li>
		<div class="divider"></div>
	</ul>
</div>
