<div class="row full-height position-relative">
	<div class="nv-card col s8 position-relative">
		{{outlet}}
	</div>
	<div class="nv-card right-top-card">
		{{calendar-search
			selected=selected
			onSelect=(action 'setDate' value="moment")
			dates=dates
		}}
	</div>
	<div class="nv-card right-down-card">
	</div>
</div>