html {
	overflow-y: hidden;
	height: 100%;
}

body {
	overflow-y: hidden;
	height: 100%;

}

/* General Classes */

.with-navbar { 
	margin-left: 225px; 	
	margin-right: 45px;
	margin-top: 2em;
}


.with-background {
    background-position: center;
    background-size: cover;
    background-color: #555;
}

.behind { z-index: -1 !important }

.position-relative { position: relative; }
.position-absolute { position: absolute; }

.filler {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-padding { padding: 0 !important; }

.clickable { cursor: pointer; }

/* Navbar */

.nv-nav {
	background-color: #fff;
	border-radius: 5px;	
	position: absolute;
	left: 40px;
	top: 30px;
	bottom: 30px;
	width: 140px;
}

.nv-nav a {
	color: #666;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.nv-nav li {
	position: relative;
	height: 100px;
}

.nv-nav .logo {
	width: 100px;
	margin: 0 20px;
	background-color: white;
	height: 100px;
}

.nv-nav .material-icons {
	font-size: 30px;
}

/* Cards */

.nv-card {
	padding: 1.5em;	
	border-radius: 5px;
	background-color: #fff;
}

.full-card { height: 89vh; }

/* Login */

.login-form {
	margin: 64px 0;
	height: 80vh;
	padding: 3em 3em !important;
	overflow: auto;
	text-align: center;
}

/* Buttons */

.add-button {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	right: 10px;
}

.btn-rounded {
	border-radius: 15px;
}
