/* General Classes */

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

/* Login */
.login-form {
	margin: 64px 0;
	padding: 20vh 0;
	text-align: center;
}

/* Buttons */

.add-button {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	right: 10px;
}