html {
	overflow: hidden;
	height: 100%;
}

body {
	overflow: hidden;
	height: 100%;

}

/* General Classes */

.with-navbar {
	position: absolute;
	left: 225px;
	top: 30px;
	right: 45px;
	bottom: 30px;
}

.no-underline { 
	border-bottom: none !important; 
	box-shadow: none !important;
}

.with-background {
    background-position: center;
    background-size: cover;
    background-color: #555;
}

.behind { z-index: -1 !important }
.on-top { z-index: 10 !important; }
.very-on-top { z-index: 100 !important; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }

.inline-block { display: inline-block; }

.filler {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.full-width { width: 100%; }
.full-height { height: 100%; }

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.margin-right { margin-right: 1em; }

.small-margin-top { margin-top: .4em; }
.small-padding-top { padding-top: .5em !important; }
.small-padding-right { padding-right: .5em !important; }
.small-padded { padding: .7em; }
.padding-right { padding-right: 1em !important; }
.padding-left { padding-left: 1em !important; }
.padded { padding: 1.5em !important; }
.no-padding-right { padding-right: 0 !important;  }
.no-padding-left { padding-left: 0 !important;  }
.no-padding { padding: 0 !important; }

.clickable { cursor: pointer; }

.circle {
	border: 1px #ddd solid;
	border-radius: 50%;	
}

.center-right {
	position: absolute;
	right: 5px;
	top: 40%;
}

.rounded-border { border-radius: 5px; }

.scroll { overflow: auto; }

/* Navbar */

.nv-nav {
	background-color: #fff;
	overflow: auto;
	border-radius: 5px;	
	position: absolute;
	left: 40px;
	top: 30px;
	bottom: 30px;
	width: 140px;
}

.nv-nav a {
	color: #666;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.nv-nav li {
	position: relative;
	height: 100px;
}

.nv-nav .logo {
	width: 100px;
	margin: 0 20px;
	background-color: white;
	height: 100px;
}

.nv-nav .material-icons {
	font-size: 30px;
}

/* Cards */

.nv-card {
	padding: 1.5em !important;	
	height: 100%;
	width: 100%;
	border-radius: 5px;
	overflow: auto;
	background-color: #fff;
}

.right-top-card {
	position: absolute; 
	left: calc(100% / 12 * 8 + 45px) !important;
	width: calc(100% / 12 * 4 - 45px);
	right: 0 !important; 
	height: 50%;
}

.right-down-card {
	position: absolute;
	left: calc(100% / 12 * 8) !important;
	width: calc(100% / 12 * 4 - 45px);
	right: 0 !important;
	bottom: 0;
	margin-left: 45px; 
	margin-top: 45px; 
	height: 45%;
}

.padded-card {
	padding-top: 15%;
}

/* Login */

.login-form {
	margin: 64px 0;
	height: 80vh;
	padding: 3em 3em !important;
	overflow: auto;
	text-align: center;
}

/* Buttons */

.btn-add {
	position: absolute;
	top: 1.7em;
	right: 1.5em;
}

.btn-next {
	width: auto;
}

.btn-rounded {
	border-radius: 20px;
}

/* Inputs */ 

.search-input {
	background-color: #fff !important;
	border: 1px solid #CBD6E2 !important;
	margin-bottom: 0 !important;
	height: 2.7rem;
	border-radius: 4px;
	padding: 0 .5em;
}

/* Power-Calendar */

.ember-power-calendar-weekdays { margin-bottom: .7em; }
.ember-power-calendar-week { 
	margin-bottom: .5em; 
}

.ember-power-calendar-weekday {
	display: inline-block;
	width: calc(100% / 8);
}

.ember-power-calendar-days { text-align: center; }
.ember-power-calendar-day--selected { 
	background-color:  #26a69a !important;
	color: #fff !important;
}

.ember-power-calendar-day { 
	position: relative;
	cursor: pointer;
	width: calc(100% / 8);
	padding: 0 15px; 
	color: #999;
	border-radius: 50%;
	background-color: #fff;
	border: none;
	height: 2.9rem; 
}

.ember-power-calendar-day--current-month { color: #000; }
.ember-power-calendar-day--today { 
	color: #26a69a;
}

.ember-power-calendar-nav { 
	background-color: #fff !important; 
	box-shadow: none;
	border: none;
}

.ember-power-calendar-nav-control, .ember-power-calendar-nav-control:focus {
	display: inline-block;
	background-color: #fff;
	border: none;
	color: #999;
	cursor: pointer;
	width: 10%;
}

.ember-power-calendar-nav-title {
	display: inline-block;
	text-align: center;
	z-index: 100;
	color: #999;
	width: 75%;
}

.ember-power-calendar-day--selected .dot {
	border: 2.5px #fff solid;
}

.dot {
	position: absolute;
	bottom: 7px;
	left: 47%;
	border: 2.5px #26a69a solid;
	border-radius: 50%;
}	

/* Power-Select */

.ember-power-select-dropdown{
	z-index: 2000 !important;
}

.ember-power-select-trigger {
	background-color: transparent !important;
	box-shadow: none !important;
	box-sizing: border-box !important;
	height: 3rem;
	overflow-y: hidden;
}

.ember-power-select-trigger:focus, .ember-power-select-trigger--active { 
	border-bottom: 2px #26a69a solid !important;
}

.ember-power-select-trigger span {
	padding-top: 8px;
	margin-left: 0; 
}

.ember-power-select-placeholder,
.ember-power-select-selected-item {
	display: inline-block;
	width: calc(100% - 60px);
	height: 100%;
	overflow: hidden;
}

span .ember-power-select-status-icon {
	padding: 0 !important;
}

.ember-power-select-clear-btn {
	font-size: 1.5rem;
	color: #aaa;
	right: 20px;
	top: 0;	
}

.ember-power-select-clear-btn:before{
	position: absolute;
	content: '';
	top: 0px;
	right: -10px;
	left: -10px;
	bottom: 0px;
	z-index: 40;
}

.ember-power-select-search-input {
	border: none !important;
	box-shadow: none !important;
	margin: 0 !important;
}

.ember-power-select-dropdown {
	border: none !important;
	outline: 1px solid #ccc;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.ember-power-select-option {
	padding: 0.6em 1em;
	color: #757575;
}
.ember-power-select-option[aria-current="true"] {
	background-color: #2196f3;
}

.ember-power-select-placeholder {
	color: #c9c9c9 !important;
}

/* Materialize Overwrites */

.btn-floating {
	box-shadow: none !important;
	border: 2px #26a69a solid;
}

.btn-floating i {
	margin-left: 4.5px;
	color: #26a69a;
	line-height: 38px; 
	font-size: 27px;
	border: none;
}

i.left { margin-right: 7px; }

#addPlan .timepicker-modal {
	top: 0 !important;
}