<div class="row">
	<form class="login-form card col m4 offset-m4 max-height">
		<img src="/img/logo-nv.svg">
		<br>
		<br>
		<br>
		<div class="input-field">
			{{input
				id='email'
				value=email
			}}
			<label for="#email">Correo Electrónico</label>
		</div>
		<div class="input-field">
			{{input
				value=password
				type='password'
				id='pass'
			}}
			<label for="#pass">Contraseña</label>
		</div>
		<br>
		<br>
		<button class="btn waves-effect btn-large btn-rounded" {{action 'login' email password}}>Iniciar Sesión</button>
	</form>
</div>